.navbar-expand-lg {
    margin-top: 100px;
background-color: black;
}
.navbar-brand {
    color: #ded7d7;
}
.navbar-nav .nav-link.active{
    color: #ded7d7;
} 
.nav-link{
    color: #ded7d7;
} 
.form-label{
    font-weight: bold;
    margin: .5vh;
    margin-top: 2vh;
}
.btn-primary{
    margin: .5vh;
    background-color: white;
    border-color: grey;
    color: black;
    margin-left: .1vh;
    margin-top: 10px;

}
h1 {
    margin-top: 4vh;
    color: grey
}
